RUN
fabfile.py
manage.py
*.pid
*.pyc
*.pyo
*.db
*.dump
*.bak
*.json
*.log
*.txt
.DS_Store
.coverage
local_settings.py
/static
deploy/
requirements.txt
.idea/
homepage/migrations/
news/migrations/
panorama/migrations/
theme/migrations/
projetprofphilv4/tmp
projetprofphilv4/local_settings.py
